

<div class="main-sidebar main-sidebar-sticky side-menu">
    <div class="sidemenu-logo">
        <a class="main-logo" href="index.html">
            <img src="https://www.behinafzar.ir/Images/New%20image/logo_2_50.png" class="header-brand-img desktop-logo" alt="logo">
            <img src="https://www.behinafzar.ir/Images/New%20image/logo_2_50.png" class="header-brand-img icon-logo" alt="logo">
            <img src="https://www.behinafzar.ir/Images/New%20image/logo_2_50.png" class="header-brand-img desktop-logo theme-logo" alt="logo">
            <img src="https://www.behinafzar.ir/Images/New%20image/logo_2_50.png" class="header-brand-img icon-logo theme-logo" alt="logo">
        </a>
    </div>
    <div class="main-sidebar-body">
        <ul class="nav">

            <li class="nav-header"><span style="color:white" class="nav-label">اطلاعات رزومه</span></li>

            <li class="nav-item active">
                <a style="background-color:transparent" class="nav-link" href="/QueryCommand"><i class="ti-receipt sidemenu-icon"></i><span style="color:white" class="sidemenu-label">Query های من</span></a>
            </li>
            <li class="nav-item active">
                <a style="background-color:transparent" class="nav-link" href="/QueryCommandLog"><i class="ti-rss-alt sidemenu-icon"></i><span style="color:white" class="sidemenu-label">Query لاگ</span></a>
            </li>

        </ul>
    </div>
</div>

