@page
@model BehinQueryApp.Pages.NotFoundModel
@{
	ViewData["Title"] = "404";
     Layout = "_HomeLayout";
}
<div class="page main-signin-wrapper bg-primary construction">

	<div class="container ">
		<div class="construction1 text-center details text-white">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<img src="https://www.behinafzar.ir/Images/New%20image/logo_2_50.png" class="mb-5" alt="logo">
					<h1 class="tx-140 mb-0">404</h1>
				</div>
				<div class="col-lg-12 ">
					<h6 class="tx-15 mt-3 mb-4 text-white-50">
						<div class="spinner-border" role="status">
							<span class="sr-only">Loading...</span>
						</div>
						</h6>
					<a href="/" class="btn ripple btn-outline-primary" style="color: white !important;">برگشت</a>
				</div>
			</div>
		</div>
	</div>

</div>
